
@{
    ViewBag.Title = "AtribuirGrupos";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<div class="header">
    <h2>
        Grupo de Acesso
    </h2>
    <div class="body">
        <div class="row clearfix">
            @using (Html.BeginForm("AtribuirGrupos", "GrupoAcesso", FormMethod.Post, new { id = "create_grupo_acesso" }))
        {
            @Html.AntiForgeryToken()
            <div class="col-md-3">

                <select class="form-control show-tick" id="IdUsuario" name="IdUsuario" onchange="carrega_ListGruposFiltroUsuario();">
                    <option value="9999">Selecione</option>
                    @if (ViewBag.ListaUsuarios != null)
                {
                    foreach (var item in ViewBag.ListaUsuarios)
                    {
                        if (item.Text != null)
                        {
                            <option value="@item.Value">
                                @item.Text
                            </option>
                    }
                }
            }
                </select>
            </div>
            <div class="col-md-3">

                <select class="form-control show-tick" id="IdGrupoAcesso" name="IdGrupoAcesso">
                    <option value="9999">Selecione</option>
                    @if (ViewBag.ListaGrupos != null)
                {
                    foreach (var item in ViewBag.ListaGrupos)
                    {
                        if (item.Text != null)
                        {
                            <option value="@item.Value">
                                @item.Text
                            </option>
                    }
                }
            }
                </select>
            </div>

            <button type="submit">Criar</button>
    }



        </div>
        <div class="ListGruposFiltroUsuario"></div>
    </div>
</div>


<script>

    function carrega_ListGruposFiltroUsuario() {

        var usuario = $('#IdUsuario').val();
        var url = "@Url.Action("ListGruposFiltroUsuario", "GrupoAcesso")";
        var data = { usuario: usuario };

                    $.post(url, data).done(function (data) {
                        $('.ListGruposFiltroUsuario').html(data);
                    }).fail(msgErroAjax).always(function () {


                    });
    }
</script>

