@model Intranet.Models.GrupoAcesso

@{
    ViewBag.Title = "Index";
    @*Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
*@
Layout = null;
    }

<h2>Index</h2>


@using (Html.BeginForm("Index", "GrupoAcesso", FormMethod.Post, new { id = "sign_in" }))
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>GrupoAcesso</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.descricao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.descricao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.descricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.isAtivo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.isAtivo)
                    @Html.ValidationMessageFor(model => model.isAtivo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@*
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
